.pagination-input {
    width: 45px!important;
    display: inline!important;
    border-radius: 0!important;
    text-align: center;
}

.pagination-input:focus {
    box-shadow: none!important;
}

.pagination-input::-webkit-inner-spin-button {
    -webkit-appearance: none!important;
    -moz-appearance: textfield!important;
    margin: 0;
}

.pagination-icon {
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.pagination-icon.fa-angles-right, .pagination-icon.fa-angles-left {
    font-size: 22px;
}

.pagination-results-per-page-select {
    border-radius: 0!important;
}

.pagination-results-per-page-select:focus {
    box-shadow: none!important;
}