<div id="warehouse-leaf-section">
    <section id="warehouse-leaf-configuration-form">
        {{ render(controller('App\\Warehouse\\Controller\\WarehouseLeafController::saveConfiguration', {'id': node.id})) }}
    </section>
</div>