<div class="d-flex flex-nowrap" id="side-navbar">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-bg-dark">
        <ul class="nav nav-pills flex-column mb-auto" id="side-navbar-ul">
            <li class="nav-item">
                <a href="{{ path('app_index') }}" class="nav-link active" aria-current="page">
                    <i class="fa-solid fa-house me-1"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="{{ path('app_product_index') }}" class="nav-link text-white">
                    <i class="fa-solid fa-shirt me-1"></i>
                    Products
                </a>
            </li>
            <li>
                <a href="{{ path('app_warehouse_structure_index') }}" class="nav-link text-white">
                    <i class="fa-solid fa-warehouse me-1"></i>
                    Warehouse
                </a>
            </li>
        </ul>
        <hr class="text-white">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>