{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">
        {{ render(controller('App\\Warehouse\\Controller\\WarehouseStructureController::new')) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/warehouse/warehouse_structure.js') }}"></script>
{% endblock %}