.error-msg {
    color: #c62828;
}

nav.navbar {
    padding: 20px;
}

main {
    margin-left: 250px;
}

.clear-both {
    clear: both;
}

.display-inline {
    display: inline;
}

.hide {
    display: none;
}

.text-justify {
    text-align: justify;
}

@media only screen and (max-width: 600px){
    #side-navbar {
        display: none!important;
    }

    main {
        margin-left: 0;
    }
}