{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-3" id="product-search-engine-app">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('product_search_engine') }}
{% endblock %}